$background-color: #b7e5ff;
$text-color: #33383a;
$main-color: #000000;

:root {
  --fontsize-movie-title: 30px;
  --fontweight-movie-title: 400;
  --fontsize-movie-year: 20px;
  --fontweight-movie-year: 300;
}

* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  background-color: $background-color;
  color: $text-color;
}

#movie-card {
  border-color: $main-color;
  border-width: 2px;
  height: 600px;
  margin-top: 30px;
}

#movie-title {
  margin-top: 20;
  text-align: center;
  font-size: var(--fontsize-movie-title);
  font-weight: var(--fontweight-movie-title);
}

#year {
  font-size: var(--fontsize-movie-year);
  font-weight: var(--fontweight-movie-year);
  text-align: center;
}