$background-color: #b7e5ff;
$text-color: #33383a;
$main-color: #000000;

:root {
  --fontsize-movie-title: 30px;
  --fontweight-movie-title: 400;
  --fontsize-movie-year: 20px;
  --fontweight-movie-year: 300;
}

* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  background-color: $background-color;
  color: $text-color;
}

#fav-movies {
  border-color: $main-color;
  border-width: 2px;
  min-height: 500px;
  margin-top: 10px;
  margin-bottom: 5px;
}

#title {
  margin-top: 20;
  text-align: center;
  font-size: var(--fontsize-movie-title);
  font-weight: var(--fontweight-movie-title);
}

#fav-movies-button {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  border: black;
}

.col-remove-padding {
  padding: 0px !important;
}